*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: rgb(35, 95, 245);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 0 5px white;
    gap: 10px;
}

form h1{
    color: white;
}

form input{
    width: 80%;
    height: 40px;
    background-color: transparent;
    border: 2px solid white;
    box-shadow: 0 0 5px white;
    border-radius: 20px;
    font-size: 24px;
    padding-left: 10px;
}

form button{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
}
